*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header{
    background: #FFE816;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

header h1{
    margin: 20px 20px;
}

.list-container{
    background: #C4C4C4;
    width: 30%;
    margin: auto;
    min-height: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px;
    padding-bottom: 20px;
}

li{
    list-style-type: none;
    width: 90%;
    margin: auto;
    background: yellow;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.5s;
}

li:hover{
    opacity: 0.5;
}

ul{
    width: 100%;
    margin: auto;
}


#user-input{
    background: #C4C4C4;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-radius: 25px;
    box-shadow: 5px 3px;
}

#add-icon{
    scale: 0.6;
}

#song-input{
    flex: 1;
    background: #C4C4C4;
    border: none;
    border-radius: 25px;
    padding-left: 30px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

ul h1{
    text-align: center;
}

p{
    padding-right: 3px;;
}

.search{
    background: #C4C4C4;
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-radius: 25px;
    box-shadow: 5px 3px;
}

#search-bar{
    flex: 1;
    background: #C4C4C4;
    border: none;
    border-radius: 25px;
    padding-left: 30px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.hidden{
    display: none !important;
}